* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*THE WHOLE PAGE*/
#notebook {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

/*TOP BAR*/
#top-textbook {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 50px;
    padding: 30px 30px 0 0;
    font-size: 1.5rem;
    background-image: url(notebook-top.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

#top-textbook i {
    padding: 0 10px;
}

/*DROP DOWN SHADOWS*/
i {
    text-shadow: 2px 2px 4px #00000066;
    cursor: pointer;
}

#trash {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.fa-plus {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}

.button {
    width: 60px !important;
}

.btn {
    background-color: #e7742200;
    border: none;
    width: 100px;
    text-align: center;
    padding: 6px 12px 6px 12px !important;
}

.btn-clo {
    background-color: gray !important;
}

.btn-save {
    background-color: #E77522 !important;
}

/*MIDDLE-TEXTBOOK*/
.middle-textbook {
    background-image: url(notebook-middle.png);
    background-size: contain;
    margin-top: 50px;
    background-position: top right;
    min-height: 548px;
}

/*BOTTOM-TEXTBOOK*/
.bottom-textbook {
    width: 100%;
    height: 42px;
    background-image: url(notebook-bottom.png);
    background-size: cover;
    background-position: top right;
}


.titletext {
    padding: 14px 0 4px 60px;
    font-weight: 700;
}

.titletext p {
    margin-bottom: 0;
}

/*NOTE DIV*/
.form-check {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    margin: 9px 0 9px 15% !important;
}

/*CHECKBOX*/
.form-check-input {
    box-shadow: 2px 2px 4px #00000066;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #E77522 !important;
    border: 1px solid #E77522 !important;
}

/*TEXT*/
.paragraph {
    margin: 0 5% 0 5% !important;
    word-break: break-all;
    width: 75%;
}

/*DONE TEXT*/
#done .paragraph {
    text-decoration: line-through;
}

/*DELETE X*/
.hidden {
    display: none !important;
}